
.vs/SampleApplication/v15/.suo
.vs/SampleApplication/v15/Server/sqlite3/db.lock
.vs/SampleApplication/v15/Server/sqlite3/storage.ide
.vs/SampleApplication/v15/Server/sqlite3/storage.ide-shm
.vs/SampleApplication/v15/Server/sqlite3/storage.ide-wal
SampleApplication/bin/SampleApplication.dll
SampleApplication/bin/SampleApplication.pdb
SampleApplication/obj/Debug/SampleApplication.csproj.CoreCompileInputs.cache
SampleApplication/obj/Debug/SampleApplication.csproj.FileListAbsolute.txt
SampleApplication/obj/Debug/SampleApplication.csprojAssemblyReference.cache
SampleApplication/obj/Debug/SampleApplication.dll
SampleApplication/obj/Debug/SampleApplication.pdb
